@charset "UTF-8";

h1 {
	font-size: 19px
}

h2 {
	font-size: 15px
}

h3 {
	font-size: 15px
}

em {
	color: #483D8B
}

a {
	font-size: 13px
}

div {
	text-align: center
}

table {
	margin: auto
}

thead {
	background: #F0E68C
}

tbody {
	background: #FFFFE0
}