@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	font-size: 100%;
	background: linear-gradient(360deg, #81C341 0%, #FFFFFF 87.83%);
}